#create-user-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.create-user-input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-user-input:focus {
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#create-user-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#create-user-button:hover {
    background-color: #45a049;
}

#user-list-container {
    width: 100%;
    border-collapse: collapse;
}

#user-list-container th, 
#user-list-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#user-list-container th {
    background-color: #f2f2f2;
}

#user-list-container tr:hover {
    background-color: #f5f5f5;
}